{% extends 'pages/base.html' %}

{% block title %} {{title}} {% endblock title %}

{% block pageName %} {{page_name}} {% endblock pageName %}

{% block section %}
  <section id="about" class="about">
    <div class="container">
      <h1>About Us</h1>
      <p>Welcome to our website! We are dedicated to providing exceptional service and delivering top-notch solutions.</p>
      <p>Our team consists of skilled professionals committed to ensuring your satisfaction with every interaction.</p>
      <p>Founded in 2024, we have grown to become a trusted name in our industry. Join us on our journey to excellence.</p>
    </div>
  </section>
{% endblock section %}